Repository git-lfs/git-lfs, pull requests merged in 2025-05, with the labels that each got.

#6042 Fix migrations where `.git/objects` is a symlink
  git/githistory/rewriter.go
  t/t-migrate-import.sh
Labels: git-core, migration

#6055 Prefer .netrc on windows if present
  config/netrc.go
  config/netrc_nix.go
  config/netrc_windows.go
  creds/creds_nix.go
  creds/creds_windows.go
  creds/netrc.go
  t/t-credentials.sh
Labels: enhancement, auth

#6048 Use a git-update-ref script to update references
  git/git.go
  git/githistory/ref_updater.go
Labels: enhancement, git-core, migration
